html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-style: normal;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

.bg-image{
  position: absolute;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("./assets/img/bg.png");
  width: 100%;
  height: 744px;
}

header {
  height: 95px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_h1{
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
  margin:0;
  color: orange;
}

.navigation-panel ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-panel ul li{
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
  margin-left: 85px;
  display: block;
  z-index: 10;
  opacity: 0.8;
}

.navigation-panel ul li a{
  color: #FFFFFF;
  text-decoration: none;
}

.navigation-panel .active-link {
  opacity: 1;
}

.navigation-panel .active-link a{
  border-bottom: 1px solid #FFFFFF;
}
.your-life{
  height: 649px;
  color: #FFFFFF;
}

.your-life_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.your-life_content_h2{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  z-index: 10;
}

.your-life_content_text{
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  width: 504px;
  margin: 0 auto;
  z-index: 10;
}

.your-life_content_text p {
  text-align: center;
}

.your-life_content_button{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
}

.your-life_content_button:hover{
  background: orange;
  color: #FFFFFF;
}

.your-life_content_button_container{
  display: flex;
  justify-content: center;
}


.your-life_content_icons_container{
  display: flex;
  justify-content: center;
  margin-top: 183px;
  z-index: 10;
}

.your-life_content_icons_container .social{
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.your-life_content_icons_container .social:hover{
  cursor: pointer;
}

.rappresent{
  height: 842px;
  display: flex;
  justify-content: center;
}

.rappresent .rappresent_content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.rappresent .rappresent_content h3{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 367px;
  color: #373737;
}

.rappresent .rappresent_content .rappresent_content_text_container p{
  width: 407px; 
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
}

.rappresent .rappresent_content .rappresent_content_button_container {
  display: flex;
  justify-content: start;
}

.rappresent .rappresent_content .rappresent_content_button_container .rappresent_content_button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 0;
}

.rappresent .rappresent_content .rappresent_content_button_container .rappresent_content_button:hover{
  background: orange;
  color: #FFFFFF;
}

.rappresent .rappresent_image_container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}



.rappresent_image{
  width: 407px;
  height: 582px;
}

.our-community{
  height: 504px;
  background-color: #F5F6F7;
  display: grid;
  grid-template-columns: 44% 56%;
}

.our-community_content_container {
  margin-top: 155px;
  margin-left: 269px;
  display: flex;
  flex-direction: column;
}

.our-community_content_container img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 127px;
}

.our-community_content_container h2{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
  margin-left: 70px;
}

.our-community_content_container div p {
  width: 298px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #4E4E4E;
}

.implement{
  height: 842px;
}

.subscribe{
  height:  524px;
}

.download{
  height: 464px;
  background-color: #FFFFFF;
}

footer{
  height: 185px;
  background: #000000;
}